.navbar-logo{
    position: relative;
    margin-top: 0.5px;
    width: 60px;
}

.home-overlay span {
    font-size: 2rem;
    font-family: 'Cinzel', serif";
    
}
.home-overlay h1 {
    font-size: 0.9rem;    
}