:root {
  --color1: #0a2140;
  --color2: #566d86;
  --color3: #93abbf;
  --color4: #1a3140;
  --color5: #8c0e03;
  --background: white;
  --text: black;
}
html {
  scroll-behavior: smooth;
}

/*----home---*/

.home-body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  box-sizing: border-box;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

header .collapse {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}

.navbar-logo {
  position: relative;
  margin-top: 0.5px;
  width: 50px;
}
.navbar-logo img {
  display: block;
  width: 100%;
  height: auto;
}

header .navbar-dark .navbar-nav .nav-link {
  color: #8c0e03;
}

header .navbar-dark .navbar-nav .nav-link:hover {
  color: whitesmoke;
}



#header-sec #navbar-dark #navbar-nav #nav-link{
  color: #8c0e03;
}

#header-sec #navbar-dark #navbar-nav #nav-link:hover{
 
  color: #8c0e03;
}

.activado {
  border-bottom: 1px solid whitesmoke;
  font-weight: bold;
}

#home-carousel {
  position: relative;
}

#home-main .carousel-inner img {
  max-height: 100vh;
  object-fit: cover;
}

.home-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: whitesmoke;
  z-index: 1;
}
.home-overlay span {
  font-size: 1.5rem;
  font-family: "'Cinzel', serif";
}

.home-overlay h1 {
  font-size: 0.6rem;
}

.home-blog-heading span {
  font-size: 1.5rem;
}

.home-blogposts {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.title-blogs {
  position: relative;
  background-color: black;
  color: whitesmoke;
}

.links ul a {
  display: flex;
  position: relative;
  display: list-item;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  margin-top: 1px;
}

.links ul a:hover {
  color: #8c0e03;
  font-style: italic;
}

.dividing-line {
  border-bottom: 1px solid #8c0e03;
  max-width: 100vw;
}

.section-home-blogposts {
  margin-top: 150px;
}

.img-blog-home {
  width: 100%;
  max-height: fit-content;
  transition-property: transform;
  transition-duration: 0.5s;
}

.img-blog-home:hover {
  transform: scale(1.05);
}

/*------destination style-----*/

.destination-body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--background);
  color: var(--text);
  max-width: 100%;
  box-sizing: border-box;
}

#destination-carousel {
  position: relative;
}
.destinations-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  z-index: 2;
  font-family: "Poiret One", sans-serif;
}

#destination-carousel h1 {
  font-size: 1.15em;
}

.destination-city {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
.title-dest {
  background-color: var(--background);
}
.destination-pic {
  display: block;

  width: 100%;
  background: var(--background);
  z-index: 0;
}
.destination-scroll {
  width: 100%;
  color: var(--text);
  font-size: 1em;
  background-color: var(--background);
}
.destination-scroll div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 0px;
  background-color: var(--background);
}
.dest-info {
  min-height: fit-content;
}
.destination-scroll div > p {
  width: 80%;
  text-align: center;
}

.destination-scroll img {
  width: 100%;
  object-fit: cover;
}

.card-link {
  text-decoration: none;
  color: var(--color5);
  transition-property: transform;
  transition-duration: 0.5s;
}
.card-link:hover {
  color: var(--color5);
  transform: scale(1.2);
}

.social-med {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 15px;
  bottom: 80px;
  align-items: center;
  z-index: 5000;
}
.social-med a {
  text-decoration: none;
  color: var(--color5);
  margin-bottom: 2px;
}
.social-med a:hover {
  color: var(--color4);
}

.destination-footer {
  height: 10%;
  width: 100%;
  background-color: black;
  color: var(--background);
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  padding: 1rem;
  bottom: 0;
  z-index: 5000;
  position: relative;
  height: 60px;
}
.destination-foot {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  color: var(--background);
  background-color: var(--text);
}
.destination-foot a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
}
.destination-foot a:hover {
  color: #8c0e03;
}

.social-footer a {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 3px;
}
.scroll-up {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 5001;
}
.scroll-up a {
  color: var(--color5);
}
/*------------------------ About us style ------------------------*/

#about-body {
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#about-body span {
  font-weight: bold;
}

.about-section {
  margin-top: 30px;
}

.about-section .carousel-control-prev-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.about-section .carousel-control-next-icon {
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23c593d8' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.img-about {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.about-overlay {
  display: block;
  position: absolute;
  font-family: "Poiret One", sans-serif;
  font-size: 70px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  z-index: 4;
}

.about-hr {
  height: 1px;
  width: 30%;
  background-color: #ccc;
  border: none;
}

.img-avatar {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid var(--color5);
}

.about-info h3 {
  color: var(--color5);
}

/*------------------------ Style 4Contact ------------------------*/

.img-contact {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}
.contact-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}
#contact-body {
  width: 100%;
  background-color: white;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.contact-overlay span {
  font-family: "Poiret One", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.line-contact {
  line-height: 20px;
  background-color: rgba(91, 14, 14, 0.353);
}
.contact-section {
  margin-top: 30px;
}
.contact-form legend {
  font-weight: bold;
  font-size: 2rem;
}
textarea {
  resize: none;
}

.contact-overlay {
  display: block;
  position: absolute;
  font-family: "Poiret One", sans-serif;
  font-size: 70px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  z-index: 4;
}
.contact-overlay h1 {
  font-size: 3rem;
  font-family: "Poiret One", sans-serif;
  font-weight: bold;
}

.contact-form {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-info h3 {
  color: var(--color5);
}

.contact-btn {
  background-color: var(--color5);
  color: white;
  border: solid 2px var(--color5);
}
.contact-btn:hover {
  background-color: white;
  color: var(--color5);
  border: solid 2px var(--color5);
}

/*------------------------ Style 404 Error ------------------------*/
.img-error {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.error-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

.error-overlay span h2 {
  font-family: "Montserrat", sans-serif;
}

.error-404 {
  font-family: "Poiret One", sans-serif;
  font-size: 140px;
}

.btn-outline-danger {
  margin-top: 50px;
  color: white;
}
